*{
    margin:0;
    padding:0;
    text-align: center;
    font-family:poppins-semibold,poppins,sans-serif;
}
html{
    width:100vw;
}
body::-webkit-scrollbar{
    width:0;
}
body{
    height: 478vh;
    position: relative;
    overflow-x: hidden;
}
header{
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(20,20,22);
    font-size: 12px;
    font-family:poppins-semibold,poppins,sans-serif;;
    color: white;
    height: 60px;
    flex: auto;
}
header div.logo{
    position: absolute;
    display: flex;
    height:100%;
    width: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: auto;
}

header .nav{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: auto;
    align-items: center;
    justify-content: end;
}

header .nav a{
    padding-right: 20px;
    transition: 0.3s;
}

header .nav a.start{
    text-align: center;
    padding:10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right:30px;
    margin-left:10px;
    border: 1px solid white;
    border-radius: 6px;
}
.nav .logo:hover , .nav .home:hover, .nav .vision:hover{
    color:#FD6262;
    transition: 0.3s;
    transition-timing-function: ease-in;
    cursor:pointer;
}
.nav .start:hover{
    background-color:#889CE7;
    border-color: #889CE7;
    color:black;
    transition: 0.3s;
    transition-timing-function: ease-in;
    cursor:pointer;
}
div#first{
    position: absolute;
    color:white;
    z-index: 0;
    width:100%;
    height: 130vh;
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    background-image: url(images/z26791741Q\,Pierwsze-zdjecie-sondy-Hope-z-orbity-Marsa.jpg);
    background-size:100%;
    background-position: center;
    background-attachment: fixed;
}
div#first h1{
    margin-top:100px;
    font-size: 60px;
    padding:20px;
}
a{
    text-decoration: none;
    color:white;
}
a:visited{
    color:white;
    text-decoration:none;
}

/*
    Animowana Strzałka
*/
.arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}

.arrow{
    width: 40px;
    height: 40px;
    top: 35vh;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}

  
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow{
  0%{
    opacity: 1;
}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
}
}

#second
{
    position: relative;
    top:130vh;
    background-color: rgb(20,20,22);
    width: 100%;
    height: 70vh;
}

section#columns{
    position: absolute;
    border:solid 0.002em grey;
    width: 100vw;
    height:70vh;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%)
}
#left{
    color:white;
    font-family:poppins-semibold,poppins,sans-serif;
    position: relative;
    width:40%;
    height:100%;
    border-right:solid 0.002em grey;
    background-image: url(images/z26791741Q\,Pierwsze-zdjecie-sondy-Hope-z-orbity-Marsa.jpg);
}
#left h1{
    font-size:40px;
    padding:6% 0 6% 0;
    margin:auto;
    width:75%;
    text-align: left;
}
#left p{
    line-height: 1.8em;
    font-size: 16px;
    color: rgb(138,138,138);
    font-family:opensans, sans-serif;
    text-align: left;
    margin:auto;
    width:75%;
}
#right{
    font-size: 16px;
    font-family:opensans, sans-serif;
    position:absolute;
    display:inline-flex;
    height: 100%;
    width: 50%;
    margin:0;
    align-items: flex-end;
    transform: translate(0, -100%);
}
#right #up{
    color:#889CE7;
    border-radius: 10px;
    box-shadow:0px 0px 30px 0px black;
    background-color: rgb(27,28,30);
    width:11vw;
    height:21vh;
    transform: translate(30%,-200%);
}
#right #centerup{
    display: block;
    color:#889CE7;
    border-radius: 10px;
    box-shadow:0px 0px 30px 0px black;
    width:11vw;
    height:21vh;
    background-color: rgb(27,28,30);
    transform: translate(40%,-150%);
}
#right #centerdown{
    display: block;
    color: #889CE7;
    border-radius: 10px;
    box-shadow:0px 0px 30px 0px black;
    background-color: rgb(27,28,30);
    width:11vw;
    height:21vh;
    transform: translate(-170%,-50%);
}
#right #down{
    display: block;
    color:#889CE7;
    border-radius: 10px;
    box-shadow:0px 0px 30px 0px black;
    background-color: rgb(27,28,30);
    width:11vw;
    height:21vh;
    transform: translate(-160%,-10%);
}

#up hr{
    position: absolute;
    width:80%;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    background-color: white;
}
#centerup hr{
    position: absolute;
    width:80%;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    background-color: white;
}
#centerdown hr{
    position: absolute;
    width:80%;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    background-color: white;
}
#down hr{
    position: absolute;
    width:80%;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    background-color: white;
}

#right p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
}

#right #down p, #right #centerdown p {
    transform: translate(-50%,200%);
}
#right #logo{
    margin:10%;
    width:20%;
    height:20%;
}
#third{
    overflow: hidden;
    position:absolute;
    top:200vh;
    color:white;
    font-family: opensans, sans-serif;
    background-color: rgb(20,20,22);
    height: 60vh;
    width:100vw;
}
#third h1{
    font-size: 50px;
    margin:10px
}
#persons{
    background-color: rgb(20,20,22);
    height: 50vh;
    font-size: 30px;
}
#Sebastian{
    position: absolute;
    bottom:4vh;
    width:49.6%;
    height: 46vh;
    margin:auto;
    background-image: url(images/z26791741Q\,Pierwsze-zdjecie-sondy-Hope-z-orbity-Marsa.jpg);
}

#Igor{
    bottom:4vh;
    margin:auto;
    height: 46vh;
    position: absolute;
    right:0;
    width:49.6%;
    align-items: flex-end;
    background-image: url(images/z26791741Q\,Pierwsze-zdjecie-sondy-Hope-z-orbity-Marsa.jpg);
}
#persons p{
   position: absolute;
   left:50%;
   top:10%;
   transform: translate(-50%, -50%);
}
p#role{
display: block;
position: absolute;
left:50%;
top:90%;
transform: translate(-50%, -100%);
}

#fourth{
    position:absolute;
    font-family:opensans, sans-serif;
    top:260vh;
    width:100vw;
    height:24vh;
    background-color: rgb(20,20,22);
}
#fourth h1{
    color:white;
}
#grid div{
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    color:#889CE7;
    background-color: rgb(20,20,22);
    line-height: 20vh;
    width: 17vw;
    text-align: center;
}
p#desc{
    text-align: center;
    position:block;
    justify-content: center;
    margin-left: auto;
    padding-top: 5vh;
    margin-right: auto;
    line-height: 13vh;
    color:rgb(138,138,138);
}
p#num {
    position: absolute;
    font-size: 60px;
    line-height: normal;
    width:100%;
    color: #FD6262;
}
#grid hr{
    width: 60%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom:10%;
    transform: translate(-50%);
    background-color:rgb(138,138,138);
    color:rgb(138,138,138);
    border-color: rgb(138,138,138);
}

div#image4{
    background-image: url(images/z26791741Q\,Pierwsze-zdjecie-sondy-Hope-z-orbity-Marsa.jpg);
    width:100vw;
    --column-width: 980px;
    --column-flex: 980px;
    --fill-layer-background-media-position: absolute;
    height:60vh;
    position:absolute;
    top:284vh;
    background-size:200%;
    background-position: center;
    overflow: hidden;
}
#grid2{
    position:absolute;
    font-family:opensans, sans-serif;
    top:334vh;
    width:100vw;
    height:24vh;
    background-color: rgb(20,20,22);
    text-align: center;
}
#gridin{
    display: inline-flex;
    position: relative;
    margin: auto;
    font-size: 35px;
    width:calc(100%/5 - 0.21%);
    height:100% ;
    justify-content: center;
    background-color: rgb(20,20,22);
}
#gridout{
    text-align: center;
    flex-wrap:wrap;
    color:rgb(138,138,138);
    flex-direction: row;
    /* background-color: rgb(138,138,138); */
    line-height: 20vh;
    width: 90vw;
    border: rgb(138,138,138) solid 1px;
    margin:20px auto 0 auto;
}
.white{
    color:white;
}

#fifth
{
    background-color: rgb(20,20,22);
    height: 80vh;
    width: 100vw;
    position: absolute;
    top:358vh;
}
#columns2{
    background-color: rgb(20,20,22);
    position: relative;
    width: 90vw;
    height: 70vh;
    margin: 10px auto;
    border:rgb(138,138,138) 1px solid;
}

#right2{
    background-color: rgb(20,20,22);
    position: absolute;
    width:40%;
    height: 100%;
    right:0;
    color:white;
    border-left: rgb(138,138,138) 1px solid;
}
#left2{
    background-color:rgb(200,20,22);;
    position: absolute;
    width:60%;
    height: 100%;
    border-right: rgb(138,138,138) 1px solid;
}
#left2 h1{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#right2 p{
    justify-content: right;
    text-align: left;
    padding:30% 30% 0% 30%;
}

#right2 #button{
    font-family: open-sans, sans-serif;
    width:20%;
    text-align: center;
    padding:2% 3% 2% 3%;
    margin:3% 30%;
    background-color: #FD6262;
    border: #FD6262 1px solid;
    border-radius: 6px;
    transition: 0.5s;
}
#right2 #button:hover{
    background-color: rgb(20,20,22);
    border: white 1px solid;
    color:white;
    transition: 0.5s;
}
footer{
    position: absolute;
    color:white;
    top:438vh;
    width:100vw;
    height: 42vh;
    background-color: rgb(20,20,22);
}
#firstfoot{
    font-size: 35px;
}
#firstfoot p{
    color: rgb(138,138,138)
}
#gridfoot{
    width:90%;
    position: absolute;
    display: flex;
    left:50%;
    top:70%;
    transform: translate(-50%, -50%);
}
#gridfoot div{
margin:auto;
width:33%;
font-size: 20px;
}
h1#miss{
    text-align: left;
    margin-left:5%;
    padding:0;
}
p#miss{
    text-align: left;
    margin-left:5%;
    font-size: 25px;
}

